body {
  background-color: #ccc;
  margin: 0px;
}

.game {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  justify-content: center;
  background-color: steelblue;
  margin: 0px;
}

.main-title {
  text-align: center; 
  color: aquamarine; 
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  /* border: 2px solid #000; */
  flex: 1 1 auto;
}

button {
  font-size: 6rem;
  background: none;
  border: none;
  cursor: pointer;
  flex: 1 1 auto;
}
.results {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 1rem;
  flex: 1 1 auto
}

.score {
  font-size: 2rem;
}

.result, .round {
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
}
