body {
  background-color: rgb(139, 91, 91);
  margin: 0px;
}

.game {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  justify-content: center;
  background-color: steelblue;
  margin-top: 25%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 25%;
}

.main-title {
  text-align: center; 
  color: rgb(214, 174, 199); 
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  /* border: 2px solid #000; */
  flex: 1 1 auto;
}

button {
  font-size: 6rem;
  background: none;
  border: none;
  cursor: pointer;
  flex: 1 1 auto;
}

button:hover {
  transform: scale(1.2);
}

.results {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 1rem;
  flex: 1 1 auto
}

.score {
  font-size: 2rem;
}

.result, .round {
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
}
